<form ng-submit="searchMovieByName()">
  <input type="text" ng-model="movieName" class="search-query" placeholder="Titre du film"/>
  <input type="submit" class="btn btn-primary" value="Rechercher" />
</form>
<div ng-show="movie">
  <img src="{{movie.Poster}}" class="pull-right">

  <strong>
    {{movie.Title}}
  </strong><br>
  
  Support:{{movie.location}} <br>
  Durée: {{movie.Runtime}}<br>
  Genre: {{movie.Genre}}<br>
  Date de sortie: {{movie.Released}}
  Scénaristes:{{movie.Writer}}<br>
  Réalisateur:{{movie.Director}}<br>
  Acteurs: {{movie.Actors}}<br>
  Note: {{movie.imdbRating}} Vote {{movie.imdbVotes}} <br>
  Cote: {{movie.Rated}} <br>
  Synopsis: {{movie.Plot}}<br>
  Lien IMDB <a ng-href="http://www.imdb.com/title/{{movie.imdbID}}"> IMDB </a>

  
  <form ng-submit="addToList()">
    <select ng-model="movie.location" ng-options="location for location in locations" >
    <input type="submit" value="Ajouter à la liste" class="btn btn-primary"/>
  </form>

</div>
