<form ng-submit="searchMovieByName()">
  <input type="text" ng-model="movieName" class="search-query" place/>
  <input type="submit" class="btn btn-primary" value="Rechercher" placeholder="Titre du film"/>
</form>
<div ng-show="movie">
  <img src="{{movie.Poster}}" class="pull-right">

  <strong>
    {{movie.Title}}
  </strong><br>
  
  Durée: {{movie.Runtime}}<br>
  Genre: {{movie.Genre}}<br>
  Date de sortie: {{movie.Released}}
  Cote: {{movie.Rated}} Note: {{movie.imdbRating}} Vote {{movie.imdbVotes}}
  Scénaristes:{{movie.Writer}}<br>
  Réalisateur:{{movie.Director}}<br>
  Acteurs: {{movie.Actors}}<br>
  Synopsis: {{movie.Plot}}<br>  
  
  <form ng-submit="addToList()">
    <select ng-model="movie.location" ng-options="location for location in locations" >
    <input type="submit" value="Ajouter à la liste" class="btn btn-primary"/>
  </form>

</div>
