<div ng-show="movie">
  <img ng-src="{{movie.poster}}" style="height:300px;" class="pull-right img-rounded">

  <strong> 
    {{movie.title}} 
  </strong> 
  ( {{movie.original_title}} ) 
  <a ng-href="http://www.imdb.com/title/{{movie.imdb_id}}"> 
    IMDB
  </a>
  <a ng-href="#/movie/{{movie.id}}/edit">Editer</a>
  <br>
  Durée: {{movie.runtime}} min.  
  Date de sortie: {{movie.release_date}} 
  Note: {{movie.vote_average}} 
  Vote {{movie.vote_count}} <br>
  Genre: 
    <i ng-repeat="genre in movie.genres"> 
      {{genre.name}} 
    </i><br>
  
  Scénaristes: 
    <i ng-repeat="crew_member in movie.casts.crew|filter: {department:'Writing'}">
      {{crew_member.name}}
    </i><br>
  Réalisateur:
    <i ng-repeat="crew_member in movie.casts.crew|filter: {department:'Directing'}">
      {{crew_member.name}}
    </i><br>
  Acteurs: 
    <i ng-repeat="cast in movie.casts.cast |orderBy: 'order' |limitTo:3">
      {{cast.name}} ( {{cast.character}} ) 
    </i><br>
  
  Synopsis: {{movie.overview}}<br>

<form ng-submit="updateMovie()">
  <select ng-model="movie.location" ng-options="location for location in locations" >
  <input type="submit"  value="Modifier" class="btn btn-primary">
</form>
