<div ng-repeat="movie in movies | orderBy:Title" class="shadow-box row" ng-show="movie">
  <img  ng-src="{{movie.Poster}}"  style="height:300px;" class="pull-right img-rounded" >
  <strong> {{movie.Title}} </strong> 
  <a ng-href="/movie/{{movie.Title}}/edit"> Editer </a> <br>
  Support:{{movie.location}} <br>
  Cote: {{movie.Rated}} <br>
  Sortie: {{movie.Released}} <br>
  Durée: {{movie.Runtime}} <br>
  Genre: {{movie.Genre}} <br>
  Director: {{movie.Director}} <br>
  Scénariste: {{movie.Writer}} <br>
  Acteurs: {{movie.Actors}} <br>
  Synopsis: {{movie.Plot }} <br>
  Note: {{movie.imdbRating}} <br>
  Votes: {{movie.imdbVotes}} <br>
  Lien IMDB {{movie.imdbID}}
</div>